## [INSERT TITLE]

- 
-
-
- Velasquez, Almira Zabrina Alyson Q.

link to dataset: https://www.start.umd.edu/data-tools/GTD?fbclid=IwY2xjawGsWdtleHRuA2FlbQIxMQABHelOWZ92imSyR5CNNl3hX7DyDm0RbLu7CRxasL54IcugUstkkzgQrBsLIg_aem_rWPWYEYQ7IHFXqqyMVw1ug

### Dataset Description

This dataset contains records on global terrorism incidents, including details such as attack types, locations, targets, and outcomes. It aims to provide comprehensive data for analyzing patterns and trends in terrorism across various regions and over time. The dataset likely includes key attributes such as:

- Date and location of incidents
- Attack methods (e.g., bombing, armed assault)
- Targets (e.g., civilians, infrastructure, government institutions)
- Outcomes (e.g., fatalities, injuries, damage)

##### The objective of this analysis is to:

- Identify global trends in terrorism by examining temporal and geographic patterns.

- Analyze common targets and their characteristics to understand which groups or entities are most frequently attacked.

- Determine correlations between types of attacks and their outcomes, such as the severity of casualties or economic impact.

In [2]:
#IMPORTS

import os
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
file_path = 'globalterrorismdb_2021Jan-June_1222dist.xlsx'

df = pd.read_excel(file_path)

#### Exploratory Analysis

Describe your data and show what kind of initial features you are dealing with
You can point anomalies/outliers in the data. Discuss patterns or findings.

In [4]:
df.head()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,202101010004,2021,1,1,NaN,0,NaT,60,Egypt,10,...,NaN,"""Egyptian officials: Roadside bombing in Sinai...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
1,202101010005,2021,1,1,01/01/2021,0,NaT,92,India,6,...,NaN,"""Terror module busted, seven arrested in J&K,""...","""Militants throw grenade on CRPF,"" HT Syndicat...",NaN,START Primary Collection,-9,-9,0,-9,NaN
2,202101010006,2021,1,1,NaN,0,NaT,228,Yemen,10,...,There is doubt that this incident meets terror...,"""Civilian reportedly dies of injuries from Hou...","""UN troubled by civilian deaths in Yemen's Hud...","""Five women killed in Yemen wedding attack,"" G...",START Primary Collection,0,0,0,0,NaN
3,202101010009,2021,1,1,NaN,0,NaT,4,Afghanistan,6,...,There is doubt that this incident meets terror...,"""Afghanistan- Ghor Provincial Council Member K...","""Journalist killed on 1st day of new year in A...","""Afghanistan: 2021 Begins with Assassination o...",START Primary Collection,-9,-9,0,-9,NaN
4,202101010024,2021,1,2,NaN,0,NaT,182,Somalia,11,...,NaN,"""Jubbaland lawmaker killed in car bomb blast,""...","""Somali lawmaker killed in a sticky bomb attac...","""Al-Shabab claims killing regional MP in south...",START Primary Collection,0,0,0,0,NaN

In [5]:
df.tail()

,eventid,iyear,imonth,iday,approxdate,extended,resolution,country,country_txt,region,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
4955,202106300023,2021,6,30,NaN,0,NaT,4,Afghanistan,6,...,NaN,"""Gunmen blow up power pylon in Parwan,"" Afghan...","""Provinces hit by blackout after power pylon d...",NaN,START Primary Collection,-9,-9,0,-9,NaN
4956,202106300029,2021,6,30,06/30/2021,0,NaT,138,Myanmar,5,...,NaN,"""Spring Revolution Daily News for 16-30 June 2...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN
4957,202106300030,2021,6,30,NaN,1,2021-07-08,147,Nigeria,11,...,NaN,"""Boko Haram Releases Abducted Catholic Priest ...","""Kidnapped Maiduguri Catholic Priest regains f...","""ISWAP-Boko Haram Abduct Catholic Priest In Bo...",START Primary Collection,0,0,0,0,NaN
4958,202106300038,2021,6,30,NaN,0,NaT,45,Colombia,3,...,NaN,"""Two dead and one wounded after clashes betwee...",NaN,NaN,START Primary Collection,0,0,0,0,NaN
4959,202107020037,2021,6,30,NaN,0,NaT,138,Myanmar,5,...,There is doubt that this incident meets terror...,"""Spring Revolution Daily News for 2-7 July 202...",NaN,NaN,START Primary Collection,-9,-9,0,-9,NaN

In [6]:
print("\nDataset Shape (Rows, Columns):", df.shape)

Dataset Shape (Rows, Columns): (4960, 135)

In [7]:
print("\nColumn Names:")
print(df.columns)

Column Names:
Index(['eventid', 'iyear', 'imonth', 'iday', 'approxdate', 'extended',
       'resolution', 'country', 'country_txt', 'region',
       ...
       'addnotes', 'scite1', 'scite2', 'scite3', 'dbsource', 'INT_LOG',
       'INT_IDEO', 'INT_MISC', 'INT_ANY', 'related'],
      dtype='object', length=135)

In [8]:
print("\nMissing Values per Column:")
print(df.isnull().sum())

Missing Values per Column:
eventid          0
iyear            0
imonth           0
iday             0
approxdate    4576
              ...
INT_LOG          0
INT_IDEO         0
INT_MISC         0
INT_ANY          0
related       3994
Length: 135, dtype: int64

In [10]:
print("\nDataset Info:")
df.info()

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4960 entries, 0 to 4959
Columns: 135 entries, eventid to related
dtypes: datetime64[ns](1), float64(51), int64(29), object(54)
memory usage: 5.1+ MB

#### Data Preprocessing and Cleaning

Explain why the data was preprocessed that way
If you removed data, explain why removing the data was necessary

#### Feature Extraction

Explain (even if briefly) what these features are, and why they may help

#### Data Visualization and Exploratory Data Analysis

Explain what the chart shows and what insights can be seen from it

7.1) It is required for you to use statistical techniques, univariate, bivariate and multivariate analysis, etc. You may use techniques that are not discussed in synchronous lectures or in class.
7.2) It is NOT required for you to implement Machine Learning techniques. But you are encouraged to try to implement.

#### Summary and Recommendations

- summarize findings

#### Future Work

9.1) Include a Gantt chart that has a timeline of the next steps if you are given 2 to 4 months to continue this project/research.
9.2) If you did not implement machine learning technique/s, what are the candidate machine learning technique/s that you plan. Give an explanation of what are the possible benefits or improvements of these machine learning technique/s from what you have implemented in step 7 (EDA and Statistics) and details (e.g. hyperparameter tuning, different settings, and experiments).
9.3) If you were able to implement machine learning technique/s, what are other or more advanced techniques that you plan to implement? Include details (e.g. hyperparameter tuning, different settings, and experiments) and how would these other or more advanced techniques compare to the current machine learning techniques that you were able to implement.

#### References

You are encouraged to look at existing solutions online and learn from them (please cite). You also are encouraged to explore other techniques that were not discussed in class and cite all of your references.

START (National Consortium for the Study of Terrorism and Responses to Terrorism). (2022). Global Terrorism Database 1970 - 2020 [data file]. https://www.start.umd.edu/gtd